.buttons__btn {
    background-color: #575753;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 17px;
    margin: 0 1px 0 1px;
    outline: none;
    border-radius: 4px;
    border-color: #d6d6d6;
    border-width: 1px;
    box-shadow: 3px 2px 22px 1px rgba(22, 13, 48, 0.24);
}

.buttons__btn:active {
    background-color: #00DCE7;
    transition-duration: 0.2s;
    border-color: #60a9ee;
}