.buttons {
    margin-top: 40px;
    display: flex; 
    justify-content: center;
    width: 90%;
}

.buttons__btn {
    flex: 1 1 auto;
    background-color: #575753;
    color: #F3F3F3;
    max-width: 200px;
    min-width: 100px;
    height: 50px;
    font-size: 17px;
    margin: 0 2px 0 2px;
    outline: none;
    border-color: rgba(155, 155, 155, 1); 
    border-width: 1px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 2px rgb(162, 159, 159);
}

.buttons__btn:active {
    background: #00DCE7;
    transition-duration: 0.04s;
    outline: 1px solid #7F9DC6;
    outline-offset: 1px;
    box-shadow: 1px 0px 2px 1px #89A1AB;
}