@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Montserrat:wght@300&display=swap');

.main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 25, 92);
    background-image: linear-gradient(rgb(117, 137, 192), rgb(47, 25, 92));
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.main__header {
    position: relative;
    bottom: 150px;
    color: #34303f;
    font-family: 'Coiny', cursive, 'Montserrat', sans-serif;
    font-size: 60px;
    text-shadow: 2px 2px 2px #00dbe7bb;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    height: 250px;
    width: 500px;
}

.hide-message {
    visibility: hidden;
}